
<?xml version="1.0" ?>
<robot name="cube.urdf">
  <link name="baseLink">
    <contact>
      <lateral_friction value="1.0"/>
      <rolling_friction value="1.0"/>
      <spinning_friction value="1.0"/>      
      <contact_cfm value="0.001"/>
      <contact_erp value="0.2"/>
      <restitution value="0.6"/>          
      <kp value="100000"/>
      <kd value="1"/>
    </contact>
    <inertial>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
       <mass value="0.6"/>
       <inertia ixx="0.2125" ixy="-0.005" ixz="0.0225" iyy="0.205" iyz="0.045" izz="0.0125"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="target.obj" scale="0.8 1 0.8"/>
      </geometry>
       <material name="red">
        <color rgba="1 0.4 0.4 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
	 	<mesh filename="target.obj" scale="0.8 1 0.8"/>
      </geometry>
    </collision>    
  </link>
</robot>
